.catalog {
  padding: 60px 28px 65px 28px;

  @media (min-width: $tablet-width) {
    padding: 60px 94px 65px 94px;
  }

  @media (min-width: $desktop-width) {
    padding: 103px 155px 100px 155px;
  }
}

.catalog__title {
  margin: 0 0 60px 0;
  color: $secondary-color;
  text-align: center;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
    font-size: 48px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 92px 0;
    font-size: 52px;
  }
}

.catalog__list {
  @include flex(column);
  gap: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    gap: 52px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 264px);
    gap: 52px 24px;
  }
}

.catalog__item {
  padding: 0 0 54px 0;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.15);
}

.catalog__name {
  margin: 0 0 28px 0;
  display: block;
  color: $secondary-color;
  text-align: center;
  font-size: 28px;
}

.catalog__price-list {
  margin: 0 0 38px 0;
}

.catalog__button {
  margin: 0 auto;
  max-width: 220px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.catalog__image {
  margin: 0 0 28px 0;
  display: block;
  border-radius: 40px 40px 0 0;
}
