.contacts {
  margin: 0 0 60px 0;
  padding: 104px 0 0 0;
  background-image: url("../../images/icons/stack.svg#divider-mobile");
  background-repeat: no-repeat;
  background-size: 228px 32px;
  background-position: top;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/icons/stack.svg#divider-tablet");
    background-size: 296px 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 158px;
    display: grid;
    grid-template-columns: 553px 452px;
    justify-content: center;
    gap: 120px;
  }
}

.contacts__map-wrapper {
  display: none;

  &--no-js {
    display: block;
  }
}

.contacts__map-image {
  width: 100%;
}
