.contacts {
  margin: 0 0 60px 0;
  padding: 104px 0 0 0;
  background-image: url("../../images/icons/stack.svg#divider-mobile");
  background-repeat: no-repeat;
  background-size: 228px 32px;
  background-position: top;

  @media (min-width: $tablet-width) {
    margin: 0 0 100px 0;
    padding: 115px 0 0 0;
    background-image: url("../../images/icons/stack.svg#divider-tablet");
    background-size: 296px 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 0;
    padding: 141px 158px 0 158px;
    display: grid;
    grid-template-columns: 553px 452px;
    justify-content: center;
    gap: 120px;
  }
}

.contacts--indentations {
  margin: 0 0 64px;
  padding: 94px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 100px;
    padding: 114px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 78px;
    padding: 142px 0 0 0;
  }

  .contacts-wrapper__title {
    margin: 0 0 64px;

    @media (min-width: $tablet-width) {
      margin: 0 0 73px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 72px;
      transform: translateX(-53px);
    }
  }

  .contacts-wrapper__list {
    @media (min-width: $desktop-width) {
      padding: 0 0 0 6px;
    }
  }

  .contacts-wrapper__email {
    @media (min-width: $desktop-width) {
      padding: 4px 28px 6px 28px;
    }
  }
}

.contacts__map-wrapper {
  display: none;

  &--no-js {
    display: block;
  }
}

.contacts__map-image {
  width: 100%;
}
