.copyright {
  @include flex(row, normal, center);
  margin-left: auto;
  align-self: center;
  position: relative;
  max-width: 110px;
  min-height: 24px;
  padding: 0 28px 0 0;
  color: #000000;
  font-size: 11px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 24px;
    mask-image: url("../../images/icons/stack.svg#icon-html-academy");
    background-repeat: no-repeat;
    background-color: #000000;

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 34px 0 0;
    max-width: 153px;
    min-height: 32px;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    color: #7bdb0a;

    &::after {
      background-color: #7bdb0a;
    }
  }

  &:active {
    color: $secondary-color;

    &::after {
      background-color: $secondary-color;
    }
  }
}
