.feedback__list {
  @include flex(column);
  margin: 0 0 32px 0;
  gap: 36px;
}

.feedback__item {
  @include flex(column);
}

.feedback__label {
  padding: 2px 0 7px 12px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
