.feedback {
  padding: 0;
}

.feedback__list {
  @include flex(column);
  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 24px;
  }
}

.feedback__item {
  @include flex(column);
  padding: 0 0 24px 0;
  position: relative;

  &:nth-child(2) {
    grid-column: 1;
  }

  &:nth-child(4) {
    grid-column: 1 / -1;
  }

  &:nth-child(5) {
    grid-column: 1 / -1;

    .feedback__label {
      padding: 2px 0 8px 12px;

      @media (min-width: $tablet-width) {
        padding: 2px 0 4px 12px;
      }
    }
  }

  &:last-child {
    padding-bottom: 0;

    .feedback__label::after {
      content: none;
    }
  }
}

.feedback__label {
  padding: 2px 0 4px 12px;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.2px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  &::after {
    content: "*";
    width: 8px;
    height: 20px;
    color: #ff8282;
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 2px;
  }
}

.feedback__error-clue {
  margin: 4px 0 0 12px;
  display: none;
  color: #ff8282;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.feedback__field-error {
  border-color: #ff8282;
}

.feedback__field-error ~ .feedback__error-clue {
  position: absolute;
  bottom: 0;
  left: 12px;
  display: block;
}
