.field {
  padding: 15px 9px 15px 11px;
  border: 1px solid $secondary-color;
  border-radius: 20px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;

  &::placeholder {
    opacity: 1;
    color: rgba(142, 152, 146, 0.7);
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 16px;
    letter-spacing: 0.16px;

    @media (min-width: $tablet-width) {
      line-height: 20px;
    }
  }

  &--address {
    min-height: 88px;

    @media (min-width: $tablet-width) {
      min-height: auto;
    }
  }

  &:hover,
  &:focus {
    border-color: #7bdb0a;
    outline: none;
  }

  &:disabled {
    border-color: rgba(142, 152, 146, 0.7);
  }
}
