.footer {
  background-color: $additional-color;
}

.footer__wrapper {
  @include flex();
  flex-wrap: wrap;
  gap: 5px 0;
  padding: 11px 26px 20px 26px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 22px 26px 22px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 158px;
  }
}

.footer__social {
  padding: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    padding: 2px 0 0 20px;
  }
}
