.form {
  padding: 50px 0 0 0;
}

.form__group {
  margin: 0 0 32px 0;
  padding: 0;
  display: block;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0 0 50px 0;
    padding: 0 70px;
  }
}

.form__title {
  margin: 0 0 32px 0;
  padding: 0;
  color: $secondary-color;
  font-size: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px 0;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 48px 0;
  }
}

.form__submit {
  padding: 16px;
  width: 100%;
  color: #fbfcfe;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    letter-spacing: 1.4px;
  }
}

.form__storage .form__checkbox-list {
  gap: 23px;

  @media (min-width: $tablet-width) {
    max-height: 72px;
    gap: 24px;
  }
}

.form__feedback .form__title {
  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
