.form {
  padding: 115px 0 0 0;
  background-image: url("../../images/icons/stack.svg#divider-mobile");
  background-repeat: no-repeat;
  background-size: 228px 32px;
  background-position: top;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/icons/stack.svg#divider-tablet");
    background-size: 296px 42px;
  }
}

.form__group {
  margin: 0 0 32px 0;
  padding: 0;
  display: block;
  border: none;

  &:last-child {
    margin: 0 0 32px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 50px 0;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__title {
  margin: 0 0 32px 0;
  padding: 0;
  color: $secondary-color;
  font-size: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px 0;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 48px 0;
  }
}

.form__submit {
  padding: 16px;
  width: 100%;
  color: #fbfcfe;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 336px;
    letter-spacing: 1.4px;
  }
}

.form__storage .form__checkbox-list {
  @include flex(column);
  gap: 23px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 24px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 24px 48px;
  }
}

.form__checkbox-item:nth-child(3) {
  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column: 2;
  }

  @media (min-width: $desktop-width) {
    grid-row: auto;
    grid-column: auto;
  }
}

.form__feedback .form__title {
  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}
