.hero {
  padding: 60px 28px 190px 28px;
  background-color: #ced7e0;
  background-image: url("../../images/strawberries-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/strawberries-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 142px 22px 413px 214px;
    background-image: url("../../images/strawberries-background-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/strawberries-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 172px 350px 252px 540px;
    background-image: url("../../images/strawberries-background-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/strawberries-background-desktop@2x.jpg");
    }
  }
}

.hero--additional {
  padding: 0;
  min-height: 120px;
  background-color: #9a232f;

  background-image: url("../../images/cranberries-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/cranberries-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../../images/cranberries-background-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cranberries-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/cranberries-background-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cranberries-background-desktop@2x.jpg");
    }
  }
}

.hero__title {
  margin: 0 0 32px 0;
  color: $secondary-color;
  text-align: center;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 44px 0;
    font-size: 48px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 0;
    font-size: 52px;
  }
}

.hero__list {
  @include flex(column);
  margin: 0 0 59px 0;
  padding: 0 0 0 29px;
  gap: 8px;

  @media (min-width: $tablet-width) {
    margin: 0 0 48px 0;
    padding: 0;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 0;
  }
}

.hero__item {
  padding: 6px 0 6px 44px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: left;
  letter-spacing: 0.15px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  &--leaf {
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-position: 6px;
    background-size: 19px 20px;
  }

  &--snowflake {
    background-image: url("../../images/icons/stack.svg#icon-snowflake");
    background-position: 3px 25px;
    background-size: 24px 24px;

    @media (min-width: $tablet-width) {
      background-position: 3px 17px;
    }
  }

  &--delivery {
    background-image: url("../../images/icons/stack.svg#icon-delivery");
    background-position: 0 12px;
    background-size: 32px 32px;

    @media (min-width: $tablet-width) {
      background-position: 0 2px;
    }
  }
}

.hero__button {
  padding: 16px 82px 16px 76px;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);

  @media (min-width: $tablet-width) {
    padding: 17px 83px 18px 80px;
    max-width: 336px;
  }
}
