.logo {
  display: block;
  color: $secondary-color;

  &:hover .logo__image {
    color: #7bdb0a;
  }

  &:active .logo__image {
    color: rgba(15, 128, 93, 0.5);
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 133px;
    height: 60px;
  }
}

.logo__berry {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
