.nav {
  margin-left: auto;
}

.nav__toggle {
  @include flex(row, center, center);
  padding: 15px 7px;
  z-index: 1;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary-color;
    mask-image: url("../../images/icons/stack.svg#icon-burger");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: #7bdb0a;
  }
}

.nav__toggle--no-js.nav__toggle {
  display: none;
}

.nav--opened .nav__toggle {
  transform: translateX(8px);
}

.nav--opened .nav__toggle::before {
  width: 28px;
  height: 28px;
  mask-image: url("../../images/icons/stack.svg#icon-burger-close");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__list {
  @include flex(column);
  padding: 32px 40px 152px 40px;
  gap: 28px;
  flex-wrap: wrap;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 112px);
    padding: 0;
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: repeat(4, 132px);
    gap: 28px;
  }
}

.nav--opened .nav__list {
  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
    background-color: #f1f6fc;
  }
}

.nav--closed .nav__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.nav--no-js.nav {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.nav--no-js .nav__list {
  @media (max-width: 767px) {
    display: flex;
  }
}
