.order-button {
  background-color: $main-color;
  color: #fbfcfe;
  font-size: 20px;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    letter-spacing: 1.4px;
  }
}
