.order {
  padding: 64px 26px 89px 26px;

  @media (min-width: $tablet-width) {
    padding: 100px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 324px;
  }
}

.order__title {
  margin: 0 0 32px 0;
  color: $secondary-color;
  text-align: center;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 52px 0;
    font-size: 48px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 48px 0;
    font-size: 52px;
  }
}

.order__descr {
  margin: 0 auto 42px auto;
  max-width: 215px;
  text-align: center;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 36px auto;
    max-width: 470px;
    transform: translateX(-2px);
    letter-spacing: 0.2px;
    font-size: 18px;
    line-height: 22px;
  }
}
