.social {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 32px);
  gap: 20px;
  align-items: center;
}

.social__link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid $secondary-color;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary-color;
    background-repeat: no-repeat;
  }

  &--telegram::before {
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#icon-telegram");
  }

  &--vkontakte::before {
    width: 20px;
    height: 16px;
    mask-image: url("../../images/icons/stack.svg#icon-vkontakte");
  }

  &--youtube::before {
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#icon-youtube");
  }

  &:hover,
  &:focus-visible {
    border-color: rgba(123, 219, 10, 1);
    outline: none;

    &::before {
      background-color: rgba(123, 219, 10, 1);
    }
  }

  &:active {
    border-color: rgba(15, 128, 93, 0.5);

    &::before {
      background-color: rgba(15, 128, 93, 0.5);
    }
  }
}
